# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Define file path for csv retrieval
path = os.path.join('../','WeatherPy/output_data/','cities.csv')

# Read csv into data frame for analysis
df = pd.read_csv(path, index_col=False)
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Astoria,46.1879,-123.8313,39.00,100,90,3.44,US,1611598188
1,Ilulissat,69.2167,-51.1000,8.60,47,1,9.22,GL,1611598188
2,Waingapu,-9.6567,120.2641,78.30,79,100,8.16,ID,1611598189
3,Yafran,32.0633,12.5286,57.76,43,87,8.81,LY,1611598189
4,Albany,42.6001,-73.9662,28.99,44,33,3.00,US,1611598042

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = df[["Lat", "Lng"]].astype(float)
humidity = df['Humidity'].astype(float)

In [5]:
# Create a humidity Heatmap layer
fig = gmaps.figure(center=(40,-20), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Desired weather conditions:
# 70F < Max Temperature < 80F
# Wind Speed < 10mph
# Cloudiness == 0%
# Filter dataframe and assign to hotel_df variable for continued analysis
hotel_df = df[(df['Cloudiness']==0)&(df['Wind Speed']<10)&(df['Max Temp']>70)&(df['Max Temp']<80)]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
26,Gao,16.6362,1.6370,74.50,14,0,8.61,ML,1611598193
104,Hermanus,-34.4187,19.2345,73.99,62,0,3.00,ZA,1611598208
117,Salalah,17.0151,54.0924,73.40,56,0,4.61,OM,1611598213
396,La Reforma,25.0833,-108.0500,73.00,48,0,8.01,MX,1611598267
412,Saint-Joseph,-21.3667,55.6167,78.80,78,0,3.44,RE,1611598271

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Add 'hotel name' to dataframe
hotel_df['Hotel Name']= ' '
hotel_df

<ipython-input-7-bbab1f80a10a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name']= ' '

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
26,Gao,16.6362,1.6370,74.50,14,0,8.61,ML,1611598193,
104,Hermanus,-34.4187,19.2345,73.99,62,0,3.00,ZA,1611598208,
117,Salalah,17.0151,54.0924,73.40,56,0,4.61,OM,1611598213,
396,La Reforma,25.0833,-108.0500,73.00,48,0,8.01,MX,1611598267,
412,Saint-Joseph,-21.3667,55.6167,78.80,78,0,3.44,RE,1611598271,

In [8]:
# Define parameters for google places api call
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword":"hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)

    # convert to json
    name_address = name_address.json()
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.

C:\Users\gabri\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [9]:
# Check hotel_df for added hotel names
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
26,Gao,16.6362,1.6370,74.50,14,0,8.61,ML,1611598193,
104,Hermanus,-34.4187,19.2345,73.99,62,0,3.00,ZA,1611598208,Misty Waves Boutique Hotel
117,Salalah,17.0151,54.0924,73.40,56,0,4.61,OM,1611598213,HYATT SALALAH HOTEL
396,La Reforma,25.0833,-108.0500,73.00,48,0,8.01,MX,1611598267,Hotel Fermin
412,Saint-Joseph,-21.3667,55.6167,78.80,78,0,3.44,RE,1611598271,la rose du sud

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Create marker layer for hotel search
hotel_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

# Add marker layer to heat map and display
fig = gmaps.figure(center=(20,-20), zoom_level=2)
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)



# Display figure
fig

Figure(layout=FigureLayout(height='420px'))