# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [28]:
path = os.path.join('../','WeatherPy/output_data/','cities.csv')

df = pd.read_csv(path, index_col=False).drop('Unnamed: 0',axis=1)
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Mocuba,-16.8392,36.9856,24.43,89,100,3.10,MZ,1611380910
1,Volosovo,59.4333,29.4833,1.00,93,75,3.00,RU,1611380910
2,Busselton,-33.6500,115.3333,28.89,51,1,3.13,AU,1611380911
3,Turukhansk,65.8167,87.9833,-37.51,74,65,2.82,RU,1611380911
4,Qaanaaq,77.4840,-69.3632,-9.47,81,21,2.95,GL,1611380911

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [29]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [30]:
# Store 'Lat' and 'Lng' into  locations 
locations = df[["Lat", "Lng"]].astype(float)
humidity = df['Humidity'].astype(float)

In [31]:
# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:
# Desired weather conditions:
# 21C < Max Temperature < 27C
# Wind Speed < 4.5 m/s
# Cloudiness == 0%

new_df = df[(df['Cloudiness']==0)&(df['Wind Speed']<4.5)&(df['Max Temp']>21)&(df['Max Temp']<27)]
new_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
43,East London,-33.0153,27.9116,25.00,83,0,1.54,ZA,1611380918
80,Along,28.1667,94.7667,23.49,28,0,0.70,IN,1611380925
96,Pochutla,15.7432,-96.4661,23.89,88,0,1.11,MX,1611380928
103,Mar del Plata,-38.0023,-57.5575,21.11,94,0,3.60,AR,1611380637
119,Ashoknagar,24.5667,77.7167,25.61,21,0,4.25,IN,1611380933
162,Kruisfontein,-34.0033,24.7314,25.00,78,0,0.45,ZA,1611380940
179,Tacuatí,-23.4500,-56.5833,21.67,95,0,1.47,PY,1611380943
202,Ha Tinh,18.3333,105.9000,23.32,63,0,2.54,VN,1611380947
231,Pāsighāt,28.0667,95.3333,23.09,36,0,1.61,IN,1611380952
249,Makkah al Mukarramah,21.4267,39.8261,23.80,31,0,1.76,SA,1611380881
310,Pisco,-13.7000,-76.2167,22.00,73,0,1.03,PE,1611380966
344,Tura,25.5198,90.2201,24.10,40,0,1.61,IN,1611380971
351,Deori Khās,23.4000,79.0167,26.20,17,0,2.79,IN,1611380972
360,Ellisras,-23.6649,27.7443,23.93,43,0,3.00,ZA,1611380974
374,Manaus,-3.1019,-60.0250,24.00,94,0,1.54,BR,1611380976
384,Lima,-12.0432,-77.0282,24.44,83,0,2.06,PE,1611380978
435,Balotra,25.8333,72.2333,24.02,38,0,3.29,IN,1611380986

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure