# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
path = os.path.join('../','WeatherPy/output_data/','cities.csv')

df = pd.read_csv(path, index_col=False)
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Solnechnyy,50.7214,136.6319,3.06,90,73,2.82,RU,1611467381
1,Bethel,41.3712,-73.4140,19.99,49,1,6.91,US,1611467381
2,Xining,36.6167,101.7667,30.78,78,100,5.99,CN,1611467381
3,Albany,42.6001,-73.9662,14.00,51,0,11.99,US,1611467381
4,Krasnosel'kup,65.7000,82.4667,-40.52,75,0,4.81,RU,1611467381

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = df[["Lat", "Lng"]].astype(float)
humidity = df['Humidity'].astype(float)

In [6]:
# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Desired weather conditions:
# 70F < Max Temperature < 80F
# Wind Speed < 10mph
# Cloudiness == 0%

new_df = df[(df['Cloudiness']==0)&(df['Wind Speed']<10)&(df['Max Temp']>70)&(df['Max Temp']<80)]
new_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
45,São João da Barra,-21.6403,-41.0511,72.91,87,0,3.29,BR,1611467388
116,Bubaque,11.2833,-15.8333,76.87,55,0,9.19,GW,1611467258
164,Mar del Plata,-38.0023,-57.5575,73.99,94,0,4.61,AR,1611467206
207,Olavarría,-36.8927,-60.3225,75.99,70,0,3.00,AR,1611467416
338,Dumka,24.2667,87.2500,78.87,21,0,5.23,IN,1611467439
370,Umarkot,25.3616,69.7362,72.72,15,0,8.12,PK,1611467444
440,San Miguel de Tucumán,-26.8241,-65.2226,75.20,78,0,4.61,AR,1611467456

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure